# 할당연산

In [ ]:
x = 10
# 10의 메모리 주소 값을 x가 가지게 되는 것입니다.
x = 10 + 10
# 할당연산의 마지막 부분에 있기 때문에 위와 같은 연산이 가능한 것입니다.

In [ ]:
a = a + 10
a = +10
a += 10

In [ ]:
x = 5
y = 2
z = 10

x += y * z  # y * z 연산 후 x에 값을 할당합니다.
x+= y * z # y*z 연

# 식별연산 멤버연산

In [ ]:
x = 10

x is None # is는 메모리 기준!
x is not None

In [ ]:
x = 3000
y = 3000

x is y

In [ ]:
x = 1
y = 1

x is y # 특정 수 아래까지는 같은 주소를 할당해서로 기억하고 있습니다

In [ ]:
10 in [10, 20, 30, 40]

In [ ]:
35 not in [10, 20, 30, 40]

# 리스트, 튜플, 딕셔너리, 셋

In [ ]:
l = [10, 20, 30, 40]
t = (10, 20, 30, 40)
d = {'one': 1, 'two': 2}
s = {10, 20, 30, 40}

In [3]:
dir(l)
# 'append',
# 'clear',
# 'copy',
# 'count',
# 'extend',
# 'index',
# 'insert',
# 'pop',
# 'remove',
# 'reverse',
# 'sort'
l.append(100)
l

[10, 20, 30, 40, 100]

In [ ]:
l.clear()
l

In [5]:
l = [10, 20, 30, 40]
ll = l
l[0] = 1000
ll

[1000, 20, 30, 40]

In [6]:
l = [10, 20, 30, 40]
ll = l.copy()
l[0] = 1000
ll, l

([10, 20, 30, 40], [1000, 20, 30, 40])

In [7]:
l = [10, 20, 30, 40]
ll = l[:]
l[0] = 1000
ll, l

([10, 20, 30, 40], [1000, 20, 30, 40])

In [8]:
a = [10, 20]
b = [30, 40]
l = [a, b]
ll = l.copy()
l[0][0] = 1000
ll,l

([[1000, 20], [30, 40]], [[1000, 20], [30, 40]])

In [11]:
# deepcopy를 이용한 값 복사
import copy
a = [10, 20]
b = [30, 40]
l = [a, b]
ll = copy.deepcopy(l)
l[0][0] = 1000
ll,l

([[10, 20], [30, 40]], [[1000, 20], [30, 40]])

In [12]:
[10, 20, 30, 40, 10, 10].count(10)

3

In [13]:
x = [1, 2, 3]
x.extend([4, 5, 6])
x

[1, 2, 3, 4, 5, 6]

In [15]:
x = ['1', '2']
x.extend('1231234454')
x
sum(map(int,x))

32

In [19]:
[10, 20, 30].index(50)

ValueError: 50 is not in list

In [18]:
x = [10, 20, 30]
x.insert(2,50)
x

[10, 20, 50, 30]

In [21]:
x

[10, 20]

In [20]:
x = [10, 20, 30]
data = x.pop()
data

30

In [ ]:
x = [10, 20, 30]
while x:
    print(x.pop())

In [29]:
x = [10, 20, 30, 10, 10]
x.remove(10) # 첫번째 값 만 제거
x

[20, 30, 10, 10]

In [43]:
x.reverse() # 역 방향 순차 정열
x

[20, 30, 10, 10]

In [44]:
x.sort()
x

[10, 10, 20, 30]

In [47]:
s = [1, 3, 4, 8 ,13, 17, 20]
data = list(zip(s[:],s[1:]))
data.sort(key=lambda x: x[1]-x[0])
data[0]

(3, 4)

In [ ]:
t = (10, 20, 30)
dir(t)
#  'count'
#  'index'

In [48]:
l = [10, 20]
t = (l, 30, 40)
t

([10, 20], 30, 40)

In [ ]:
l[0] = 100
t # 주소 값 불변

In [49]:
# 튜플이 자주 사용되는 곳
# 값에 불변을 지키기 위해서 튜플을 사용하는 것보다
# 아큐먼트의 갯수를 맞추기 위해 튜플을 사용하는 경우가 더 많습니다.
d = {'one':1,'two':2}
d.items()

dict_items([('one', 1), ('two', 2)])

In [ ]:
d = {'one': 1, 'two': 2}
dir(d)

d.get('three', '값 없음!') # 정말 많이 사용합니다!


#  'get',
#  'items',
#  'values'
#  'keys',
#  'pop',
#  'popitem',
#  'setdefault',
#  'update',
#  'fromkeys',

In [ ]:
def 요일변경(n):
    return {
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
        7: '일요일',
    }.get(n, '요일 없음')

# match가 생기기 전 match처럼 사용하기 위해 자주 사용

In [50]:
d.items()
type(d.items())

dict_items

In [51]:
d.keys()

dict_keys(['one', 'two'])

In [ ]:
for key in d.keys():
	 print(key)

In [ ]:
d.values()

In [ ]:
d.keys()

In [ ]:
d = {'one': 1, 'two': 2}
d.pop # key로 item 꺼낸다
d.popitem # index로 item을 꺼낸다

In [53]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("four", "넷")
print(four_value)
print(numbers)

numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'four': '넷', 'five': '다섯'})
print(numbers)
print({'one': '하나', 'two': '둘', 'three': '셋'} | {'four': '넷', 'five': '다섯'})

넷
{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷'}
{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷', 'five': '다섯'}
{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷', 'five': '다섯'}

In [ ]:
keys = ['name', 'city', 'job']
value = None
print(dict.fromkeys(keys, value))

In [55]:
s = {1, 2, 3}
ss = {3, 4, 5}
data = set('123123123')
data

s | ss
s - ss
s & ss

{'1', '2', '3'}

# 함수

In [56]:
# 파선아실
def hello(x):
	return x + x

hello(100)

200

In [57]:
def hello(a=10, b=20):
	return(a,b)
hello(b=100, a=200) # 순서가 아닌 파라미터를 보고 맞는 위치에 삽입합니다. 자바스크립트는 그렇지 않습니다.

(200, 100)

In [58]:
# 함수의 이름은 변수입니다
# 일급함수
def	hello():
	return 100

x = [hello,hello]
x[0]()

100

In [59]:
x = 100
def hello():
	print(x)
	return x + x
hello()

100

200

In [66]:
x = 100
def hello(x):
	x = 1000
	return x + x
print(hello(x))
x

2000

100

In [64]:
a = 100

def f():
    global a
    a = a + 1

f()
print(a)  # 출력: 101, 함수 f 내에서 전역 변수 a가 수정되었습니다.

101

# 조건문

In [67]:
if True:
    print('hello world')

hello world

In [68]:
if True or 1/0:
    print('hello world')

hello world

In [69]:
def f():
    raise Exception('exception')

if True or f():
    print('hello world')

hello world

In [70]:
# Python 에서 False로 평가받느 것들
''
[] # 자바스크립트에서 Boolean([])이 True 입니다
{}
()
0
None

In [72]:
if 0:
    print('hello world1')
elif 0:
    print('hello world2')
elif 0:
    print('hello world3')
elif 1:
    print('hello world4')
else:
	print('hello world5')

hello world4

In [73]:
def hello(a,b):
	return True if a > b else False

hello(10,5)

True

In [74]:
text = 'Hello'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 결과 'No Match'

Hello

# 반복문

In [ ]:
for i in 'hello':
	print(i)

In [ ]:
for i, j in enumerate('hello'):
	print(i,j)

In [77]:
for i, j, k in zip('hello', 'world', '!-~'):
	print(i, j, k)

h w !
e o -
l r ~

`for 문은 iter과 next메서드를 실행하는 구문이다?`

In [ ]:
x = 0
while x < 10:
	print(x)
	x += 1

In [ ]:
[i for i in range(10)] #  리스트컴프리헨션이 성능이 좋기 때문에 간단한 구문의 경우 사용하면 좋습니다.

In [ ]:
[f'{i} X {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)] # 가독성이 이미 깨졌습니다.

In [ ]:
x = 0
while x < 10:
    x += 1
    if x == 5:
        # break
        continue
    print(x)

In [ ]:
# break이 벗어나는 범위는
# 자신을 감싸고 있는 반복문만 벗어납니다.
for i in range(10):
	for j in range(10):
		if j> 3:
			break
		print(i,j)